include LICENSE
include README.md
include pyproject.toml

recursive-include src/recur *.yaml
recursive-include src/recur/genetic_codes *
recursive-include ExampleData *

# prune docs
prune tests
prune .github

exclude Dockerfile
exclude .dockerignore
exclude .gitignore
exclude .pre-commit-config.yaml
exclude CHANGELOG.md
exclude DEVNOTES.md

# exclude src/recur/bin/iqtree2
# exclude badge-status.json
# global-exclude *.png *.svg

global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *~
global-exclude *Zone.Identifier