// Placeholder to allow overriding predefined variables smoothly.
// $content-width: 1200px;
$content-width: 90% !default; // Use a percentage for fluidity
$on-palm: 600px !default;     // Standard mobile breakpoint
$max-width: 1440px !default;  // Your original fixed width as a cap
$spacing-unit: 20px;
$on-large: 992px;
$code-background-color: #dfe0e16a;