---
layout: base
---

<div class="post">
    <!-- {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    <h1 class="page-heading">Download</h1>
    {%- endif -%} -->
    <div class="post-content">
    {{ content }}
    </div>

    {% if site.paginate %}
    {% assign posts = paginator.posts %}
    {% else %}
    {% assign posts = site.posts %}
    {% endif %}

    {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
    <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <span class="post-meta">{{ post.date | date: date_format }}</span>

            <!-- {%- if site.show_excerpts -%}
            {{ post.excerpt }}
            {%- endif -%} -->

            <div class="container">
                <section id="downloads">
                    <!-- {% if site.show_downloads %}
                    <div class="download-item">
                        <a href="https://github.com/OrthoFinder/RECUR/releases/download/v1.0.0/recur-iqtree2-linux-intel-1.0.0.tar.gz"
                            class="btn">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path d="M12 16l4-4H8l4 4zm1-13h2v6h-2V3zm-4 6h8v2H9V9zM4 22h16v-2H4v2z" />
                            </svg>
                            recur-iqtree2-linux-intel-1.0.0.tar.gz
                        </a>
                    </div>
                    {% endif %} -->


                    {%- if site.show_excerpts -%}
                    {{ post.excerpt }}
                    {%- endif -%}

                    <!-- <div class="download-item">
                        <a href="{{ site.github.repository_url }}" class="btn btn-github">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path
                                    d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.44 9.8 8.2 11.4.6.1.8-.3.8-.6v-2.2c-3.33.7-4.04-1.6-4.04-1.6-.55-1.42-1.34-1.8-1.34-1.8-1.1-.78.08-.77.08-.77 1.22.08 1.86 1.26 1.86 1.26 1.1 1.9 2.88 1.35 3.58 1.03.1-.8.43-1.35.78-1.66-2.67-.3-5.47-1.34-5.47-5.96 0-1.32.47-2.4 1.24-3.24-.13-.3-.54-1.54.12-3.2 0 0 1-.3 3.3 1.24a11.4 11.4 0 013 0C18 4.5 19 4.8 19 4.8c.66 1.66.26 2.9.13 3.2.78.84 1.24 1.92 1.24 3.24 0 4.63-2.8 5.66-5.47 5.96.44.37.83 1.1.83 2.22V22c0 .3.2.7.8.6C20.56 21.8 24 17.3 24 12 24 5.37 18.63 0 12 0z" />
                            </svg>
                            View on GitHub
                        </a>
                    </div> -->
                </section>
            </div>

            <!-- <div class="container">
                <section id="downloads">
                    {% if site.show_downloads %}
                    <div class="download-item">
                        <a href="{{ site.github.zip_url }}" class="btn">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path d="M12 16l4-4H8l4 4zm1-13h2v6h-2V3zm-4 6h8v2H9V9zM4 22h16v-2H4v2z" />
                            </svg>
                            Download as .zip
                        </a>
                    </div>
                    <div class="download-item">
                        <a href="{{ site.github.tar_url }}" class="btn">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path d="M12 16l4-4H8l4 4zm1-13h2v6h-2V3zm-4 6h8v2H9V9zM4 22h16v-2H4v2z" />
                            </svg>
                            Download as .tar.gz
                        </a>
                    </div>
                    {% endif %}
                    <div class="download-item">
                        <a href="{{ site.github.repository_url }}" class="btn btn-github">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16">
                                <path
                                    d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.44 9.8 8.2 11.4.6.1.8-.3.8-.6v-2.2c-3.33.7-4.04-1.6-4.04-1.6-.55-1.42-1.34-1.8-1.34-1.8-1.1-.78.08-.77.08-.77 1.22.08 1.86 1.26 1.86 1.26 1.1 1.9 2.88 1.35 3.58 1.03.1-.8.43-1.35.78-1.66-2.67-.3-5.47-1.34-5.47-5.96 0-1.32.47-2.4 1.24-3.24-.13-.3-.54-1.54.12-3.2 0 0 1-.3 3.3 1.24a11.4 11.4 0 013 0C18 4.5 19 4.8 19 4.8c.66 1.66.26 2.9.13 3.2.78.84 1.24 1.92 1.24 3.24 0 4.63-2.8 5.66-5.47 5.96.44.37.83 1.1.83 2.22V22c0 .3.2.7.8.6C20.56 21.8 24 17.3 24 12 24 5.37 18.63 0 12 0z" />
                            </svg>
                            View on GitHub
                        </a>
                    </div>
                </section>
            </div> -->
        </li>
        {%- endfor -%}
    </ul>


    {% if site.paginate %}
    <div class="pager">
        <ul class="pagination">
            {%- if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{
                    paginator.previous_page }}</a></li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
            <li>
                <div class="current-page">{{ paginator.page }}</div>
            </li>
            {%- if paginator.next_page %}
            <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a>
            </li>
            {%- else %}
            <li>
                <div class="pager-edge">•</div>
            </li>
            {%- endif %}
        </ul>
    </div>
    {%- endif %}

    {%- endif -%}

</div>

{% include download-count.html %}